body{
  font-family: "Open Sans";
}

a {
  text-decoration: none;
  color: #ca4a38;
}

a:hover{
  color: #d7c9a0;
}

h2 {
  font-size: 20px;
  font-weight: 800;
  margin-bottom: .7em;
}

.small {
  font-size: .7em;
}

footer {
  text-align: center;
}

input {
  background-color:#d7c9a0;
  border-radius:.3em;
  padding: .6em 3em .6em 1em;
  color: black;
  font-size: 1em;
}

input::-moz-placeholder {
  color:black;
}

.buttonstyle {
  text-align: center;
  background-color:#ca4a38;
  border-radius:.5em;
  border:.1em solid #ffffff;
  font-size:1.2em;
  font-weight:800;
  font-style:italic;
  padding: .7em 3em .7em 3em;
}

.buttontext {
  color:black;
}
  
.buttonstyle:hover {
  color:#d7c9a0;
}

.usain {
  background-image: url("../images/headerimg.png");
  background-size: cover;
}

.navigation {
  margin-top: 3em;
  font-size: 1.2em;
  font-weight: 300;
  color: #ca4a38;
}

.navitem {
  margin-right: 1em;
}

.center {
  text-align: center;
}

.title {
  margin-top: 7em;
  margin-bottom: 20em;
}

.headline {
  font-weight: 800;
  font-style: italic;
  font-size: 110px;
  color: #ca4a38;
}

.intro {
  text-align: center;
}

.red {
  color: #ca4a38;
}

.maincontainer {
  margin-top: 3em;
  margin-bottom: 2.5em;
}

#locationmap {
  display:inline-block;
}

.user-input {
  font-style: italic;
  font-weight: 700;
  font-size: 1.1em;
  margin-bottom: .7em;
}

