/*LAYOUT*/

body{
  font-family: "Open Sans";
}

footer {
  padding-top: 50em;
}

.navigation {
  margin-top: 3em;
  font-size: 1.2em;
  font-weight: 300;
}

.navitem {
  margin-right: 1em;
}

.usain {
  background-image: url("../images/headerimg.jpg");
  background-size: cover;
}

.jamaicaMan {
  background-size: contain;
  display: inline-text;
  width: 100%;
}

.getty {
  width: 100%;
}

.center {
  text-align: center;
}

.maincontainer {
  margin-top: 2em;
  margin-bottom: 5em;
}

.title {
  margin-top: 7em;
  margin-bottom: 15em;
}

.headline {
  font-weight: 800;
  font-style: italic;
  font-size: 110px;
  color: #ffd500;
}

/*text styling*/

h1 {
  font-weight: 100;
  font-size: 3em;
}

h2 {
  font-size: 1.2em;
  font-weight: 800;
  margin-bottom: .7em;
}

p {
  letter-spacing: .05em;
  line-height: 1.4em;
}

a {
  text-decoration: none;
  color: #ffd500;
}

a:hover{
  color: #d7c9a0;
}

.small {
  font-size: .7em;
}

/*.buttontext {
  color:#ffd500;
}*/

#location {
  background-color:#2a2c2b;
  border-radius:.3em;
  height: 2.5em;
  width: 15em;
  color: #ffd500;
  font-size: 1em;
  font-weight: 800;
}

/*MODULES*/

input {
  background-color:#2a2c2b;
  border-radius:.3em;
  padding: .6em 3em .6em 1em;
  color: #ffd500;
  font-size: 1em;
}

::-webkit-input-placeholder {
    color:    #ffd500;
    opacity: .5;
}
:-moz-placeholder {
   color:    #ffd500;
   opacity:  .5;
}
::-moz-placeholder {
   color:    #ffd500;
   opacity:  .5;
}

.buttonstyle {
  color:#ffd500;
  text-align: center;
  background-color:#2a2c2b;
  border-radius:.5em;
  border:.1em solid #ffffff;
  font-size:1.2em;
  font-weight:800;
  font-style:italic;
  padding: .7em 3em .7em 3em;
}

.buttonstyle:hover {
  color:#d7c9a0;
}

.mapsize {
 height: 20em;
}

.popupContainer {
    position: fixed;
    z-index: 100;
    background: white;
    opacity: .95;
    border-radius: .5em;
    top: 15em;
    padding: 5em 3em 4em 3em;
}

.green {
  color: #00a43d;
}

#locationmap {
  height: 20em;
}

.user-input {
  font-style: italic;
  font-weight: 700;
  font-size: 1.1em;
  margin-bottom: .7em;
}

#otherRunners img {
  width: 8em;
}
